<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Security-Policy" content="frame-ancestors 'none'">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <style>
      .navbar {
        background-color: white;
      }
      .navbar-brand img {
        height: 40px; /* Adjust this value as needed */
        width: auto;
      }
    </style>

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="tt">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="acceuil" href="/acceuil">Welcome</a>
         
          {% if "username" in session %}
          <a class="nav-item nav-link" id="acceuil" href="/login">Home</a>
          {% if session["account_type"]=="client" %}
          <a class="nav-item nav-link" id="complaint_tracking" href="/complaint_tracking">Complaint Tracking</a>
          {% endif %}
          <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
          <a href="/change_password" class="nav-item nav-link">Change Password</a>
          <a href="/change_info" class="nav-item nav-link">Change Informations</a>
         
          {% if session["account_type"]=="admin" %}
          <a class="nav-item nav-link" id="create_account" href="/create_account">Create Account</a>
          <a class="nav-item nav-link" id="all_accounts" href="/all_accounts">View technicians Accounts</a>
          <a class="nav-item nav-link" id="account_admin" href="/account_admin">View Admins Accounts</a>
          {% endif %}
          {% else %}
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
         
       
          {% endif %}
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
 

<!-- CSRF token generation -->
<script>
  function generateCSRFToken() {
    var tokenField = document.createElement('input');
    tokenField.type = 'hidden';
    tokenField.name = 'csrf_token';
    tokenField.value = '{{ csrf_token() }}';
    document.querySelector('form').appendChild(tokenField);
  }
  generateCSRFToken();
</script>    
{% block javascript %}
    <script type="text/javascript">
      function deleteNote(noteId) {
  fetch("/delete-note", {
    method: "POST",
    body: JSON.stringify({ noteId: noteId }),
  }).then((_res) => {
    window.location.href = "/notes";
  });
  }
</script>
{% endblock %}
  </body>
</html>
